<h1>Welcome !</h1>

<p class="info">Works Best In Mobile Resolutions</p>
<p>This is a <b>C# Blazor Dotnet</b> project to demonstrate side nav open/close animation.</p>
<p>Click on the <b>Nav Icon</b> at top left to see the animation.</p>
